@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

page {
  font-family: 'Lexend', 'Manrope', 'Space Grotesk', 'Helvetica Neue', Arial, sans-serif;
  background: #f6f8fd;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
